@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
  background-color: rgba(245, 245, 247, 1);
}

.contact-bg::before {
  content: "";
  background-image: url('/website.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(180deg);
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.team-bg::before {
  content: "";
  background-image: url('/website.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(180deg);
  top: 820px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}